body {
  background: linear-gradient(
    89.7deg,
    rgb(0, 32, 95) 2.8%,
    rgb(132, 53, 142) 97.8%
  );
  font-family: "Lato", sans-serif;
}

.app {
  background-color: #f2f2f2;
  max-width: 590px;
  height: 450px;
  margin: 40px auto;
  padding: 10px;
  box-shadow: #032060;
  border-radius: 16px;
  border: 4px solid #f2f2f2;
}

a {
  color: #032060;
}

.app-icon {
  display: flex;
  position: relative;
  top: -240px;
  left: 360px;
  font-size: 40px;
}
.unit {
  display: flex;
  position: relative;
  top: -420px;
  left: 530px;
  font-size: 30px;
  font-weight: bold;
}

.temp {
  display: flex;
  position: relative;
  top: -330px;
  left: 450px;
  font-size: 65px;
  font-weight: bold;
}

.search-form-input {
  background-color: #80358d;

  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 15px 18px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.search-form-button {
  background-color: #032060;
  border: none;
  padding: 14px 27px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  margin-left: 8px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.weather-forecast-date {
  text-align: center;
  color: #606470;
  font-size: 15px;
  line-height: 10px;
  margin-bottom: 8px;
}
.weather-forecast-icon {
  font-size: 20px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #80358d;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 7px;
}

footer {
  padding: -20px;
  margin: -140px;
  font-size: 13px;
  text-align: center;
  color: black;
}
h1 {
  color: #032060;
}
strong {
  color: #80358d;
}
p {
  color: #032060;
}
